.blog__containerMain{
    width: 100%;
    height: auto;
    
    margin: 12px 0;
}
.blogs__containers{
    
    display: grid;    
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    overflow: inherit;
    gap: 14px;
    padding: 14px;
    
    
}

@media (max-width:1135px){
    .blogs__containers{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(auto-fill, 1fr);

    }

}  
