.navbar__main--container{
    
    height: auto;
}
.navba__socialmedia{
    width: 100%;
    background-color: var(--pink);
     display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
    
    
}
.socialMeadia--mail{
    
    font-size: 2rem;
    width: 500px;
    display: flex;

    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--white);
}
.socialMeadia--mail p i{
    margin-left: 12px ;
    margin-right: 12px; 
    
}
.navbar__socialmeadia{
   width: 150px;
   display: flex;
   justify-content: center;
   align-content: center; 
}
.navbar__socialmeadia ul{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,50px);
    justify-content: center;
    align-content: center;
    list-style: none;
    text-decoration: none;
     
}
.navbar__socialmeadia ul li a{
    font-size: 2rem;
    color: var(--white);
    
}




/* barra de menu */

.navbar__navegationContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    align-items: center;
}

.navabr__menu{
    width: 100%;
    
    
}



/* contenedor de logo */
.navbar__logo{
    width: 60%;
    height: auto;
}
.navbar__logo img{
width: 100px;
height: 100px;
object-fit: cover;
margin-left: 32px;
}






/*       menu */

.navbr__menu--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    gap: 12px;



    height: 30px;
    width: auto;
    list-style: none

   
}
.navbr__menu--grid li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--base_black);
    font-weight: bold;
    letter-spacing: 2px;
}
.navbr__menu--grid li a:hover{
    
    color: var(--pink);
    transition: all;
    cursor: pointer;
    transition: all 6ms;
}






@media (max-width: 623px)  {
    .socialMeadia--mail{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .socialMeadia--mail p{
        margin-top: 12px;
        margin-bottom: 12px;
        
    }
    
    .navba__socialmedia{
        
        width: 100%;
        align-items: center;
        justify-content: center;
        
        flex-direction: column;
        
        
        
    }
    .navba__socialmedia ul{
        margin-bottom: 12px;
    }
    .navabr__menu{
        display: none;
    }
}