.menu__main{
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    
    
}
.menu__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.menu__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.menu__title h2{
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #3e606b;
    margin-bottom: -10px;
}
.menu__title span{
    margin-bottom: 16px;
}
.menu__title p{
    font-size: 1.4rem;
    text-align-last: center;
}
.menu__prices{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,500px);
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    margin-bottom: 24px;
}
.menu__prices--cards{
    
    border-bottom: 1px dashed #ccc;
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.card__menu {
    width: 80%;
}
.card__menu h3{
    width: 100%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
    margin-left: 8px;
}
.card__menu p{
    font-size: 1.8rem;
    color: var(--gray);
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 8px;
    
}
.card__price{
    width: 20%;
    margin-right: 16px;
    margin-top: 24px;
}
.card__price p{
    font-family: playfair;
    font-size: 1.8rem;
    color: #e3764b;

}

@media (max-width:460px) {
    .menu__prices--cards{
        width: 50%;
        border-bottom: 1px dashed black;
        
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 24px;        
        transition: all;

        
        
    }
    .card__menu, .card__price p{

        
        min-width: 250px;
        margin-bottom: 8px;
        text-align: center;
    }
}