@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --color_rosita: #f195b2;

}
.header_main--container{
    min-width: 320px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--color_rosita);
    height: 120px;
    

    .phone_mail{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        a{
            color: white;
            margin: 5px auto;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            i{
                margin-right: 20px;
            }
        }
    }

    .social-media--header{
        grid-row: 2;
        
       ul{
           margin: 0 auto;
           display: flex;
           flex-direction: row;
           margin: 10px 10px;
           justify-content: center;
           list-style: none;
           li{
               margin: 10px;
               a{
                   color: white;
                   font-weight: 200;
                   font-size: 20px;
               }
           }
           
       }
    }
}


.main_menu--container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    min-width: 320px;
    border: 1px solid black;
    .img__logo{
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        a{          
            
            img{
                width: 90px;
                
                
                
            }
        }
    }
    .main__menu{
        width: 40px;
        
        div{
            
            .menu_relative{
                position: absolute;
                top: 219px;
                left: 1px;
                right: 1px;
                border: 1px solid black;
                height: auto;
                ul{
                    text-align: center;
                    list-style: none;
                    li{
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
       

       
      
    }
}