@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');




@import url(./csspages/cards.css);
@import url(./csspages/footer.css);
@import url(./csspages/menu.css);
@import url('./csspages/serviesCards.css');
@import url('./csspages/navbar.css');
:root{    
    --azulito: #94c9d9;
    --blue: #007bff;
    --pink: #f195b2;
    --white: #fff;
    --gray: #a8a8a8;
    
    --light: #f8f9fa;
    --dark: #343a40;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}